* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1100px;
    margin: auto;
}

img {
    max-width: 100%;
}

section {
    overflow: hidden;
}

header {
    background-color: rgb(127, 86, 245);
}

.logo {
    width: 20%;
    float: left;
}

.logo img {}

nav {
    width: 80%;
    float: left;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 20px 15px;
    display: inline-block;
    text-decoration: none;
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1100px;
    margin: auto;
}

header {


    background-color: rgb(127, 86, 245);
    padding: 30px 0px 100px;

}

.logo {
    width: 20%;
    float: left;
}

.logo img {}

nav {
    width: 80%;
    float: left;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 20px 15px;
    display: inline-block;
    text-decoration: none;
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.banner {
    text-align: center;
    color: rgb(255 255 255);
}

.banner h1 {
    font-size: 54px;
    padding: 120px 0px 20px;
}

.banner p {}

.blog {
    padding: 70px 0px 0px;
}

.details-info {
    width: 50%;
    float: left;
}

.detail {
    padding: 50px;
}

.detail img {
    max-width: 100%;
}

.detail h3 {
    font-size: 35px;
    margin: 25px 0px;
}

.detail p {}

.Touch-it {
    border-radius: 5px;
    background-color: rgb(127, 86, 245);
    padding: 13px 25px;
    border: 1px solid rgb(127, 86, 245);
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
}

.Touch-it:hover {
    color: rgba(26, 26, 26, 0.47);
    background-color: rgba(255, 255, 255, 0);
}

footer {
    background-color: rgb(126 86 245 / 7%);
    padding-top: 40px;
}

.footer-items {
    width: 25%;
    float: left;
}

.item {
    padding: 30px;
}

.footer-items img {}

.footer-items p {
    margin-top: 20px;
}

.footer-items h4 {
    text-align: center;

}

.footer-items li {
    list-style: none;
    padding: 10px 0px;
    text-align: center;
}

.footer-items li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.765);
}